form {
    height: 150px;
    width: 300px;
    border: 4px solid #000;
    padding: 30px;
    
}
#profile {
    border: 4px solid green;
    width: 300px;
    padding: 30px;
}

label,span,img {
     display: block;
    margin: 20px;
    clear: both;
    
}

button {
    display: block;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 5px 10px;
    margin: 0 20px 20px 20px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: aquamarine;
    cursor: pointer;   
}
button:focus {
    outline: none;
}

.after-load {
    
     display: none;   
}

#loader {
    display: none;
    background: url('loader.gif');
    background-size: contain;
    margin: 15% 35%;
    height: 40px;
    width: 40px;
}
#err-place {
    color: firebrick;
    margin-left: 20px;
    
}